.button {
  width: 310px;
  background-color: $highlight-color;
  color: $font-color-main;
  font-family: $font-main;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 10px;
  border-radius: 10px;
  text-align: center;
}

.temporary-separator {
  height: 300px;
}

.player {
  &__title {
    text-align: left;
    padding-left: 10px;
  }

  &__details-categories {
    text-align: left;
  }

  &__details-ranking {
    text-align: center;
  }
}

.green-audio-player .slider .gap-progress .pin {
  background-color: $highlight-color;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.nav__links {
  text-align: center;
  a {
    text-decoration: none;
  }

  * {
    color: $font-color-light;
  }

  .active {
    color: $font-color-main;
  }
}

.filler {
  height: 200px;
}
