/* miejscem na te reguły, które nie tyczą się ani układu, ani bezpośrednio tekstu, ale wcaiąż mogą być traktowane jako uniwersalne, czyli właśnie takie, które mogą być z powodzeniem używane w wielu miejscach – sekcjach czy podstronach. Co możemy tutaj zawrzeć? Chociażby style dla buttonów, które wyglądają identycznie w kilku sekcjach.a */

.button {
  width: 310px;
  height: 130px;
  background-color: $highlight-color;
  color: $font-color-main;
  font-family: $font-main;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 10px;
  border-radius: 10px;
  text-align: center;
}

.temporary-separator {
  height: 300px;
}
.player-wrapper {
  margin: auto;
}

.player {
  margin: auto;
  &__title {
    text-align: center;
  }

  &__details-categories {
    text-align: left;
  }
  &__details-ranking {
    text-align: right;
  }
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.nav__links {
  a {
    text-decoration: none;
  }
  * {
    color: $font-color-light;
  }
  .active {
    color: $font-color-main;
  }
}
