/* Potrzebujesz uniwersalnych klas dla nagłówków, tytułów? Będziemy umieszczać je właśnie tutaj! */

/*titles*/

h1 {
  font-family: $font-main;
  color: $font-color-main;
  text-transform: uppercase;
  font-size: 200px;
  font-weight: 900;
  letter-spacing: 100px;
}

h2 {
  font-family: $font-main;
  color: $font-color-main;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 50px;
}

h3 {
  font-family: $font-main;
  color: $font-color-main;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;

  spam {
    text-transform: none;
  }
}

h3.page-subtitle {
  font-size: 40px;
  letter-spacing: 10px;
  font-weight: 400;
  color: $font-color-light;
}

h4 {
  font-family: $font-main;
  color: $font-color-main;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
}

h5 {
  font-family: $font-main;
  color: $font-color-light;
  font-size: 20px;
  font-weight: 700;
  //letter-spacing: 30px;
}

.copyright {
  h3 {
    text-transform: none;
    color: $font-color-light;
    text-align: center;
  }
}
