.search-title {
  h3 {
    text-align: center;
  }
}

.search-area {
  height: 70px;
  position: relative;
  margin: auto;
}

form {
  width: auto;
  padding: 10px;
}

.placeholder {
  height: 50px;
  background: $font-color-main;
  border-radius: 10px;
  font-family: $font-main;
  color: $font-color-light;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

#search_select {
  height: 50px;
  background: $font-color-main;
  border-radius: 10px;
  font-family: $font-main;
  color: $font-color-light;
  font-size: 30px;
}

.search-button {
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  background-color: $highlight-color;
  color: $font-color-main;
  font-family: $font-main;
  text-transform: uppercase;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
}

h3.search-name {
  text-transform: none;
  color: $font-color-light;
  margin: auto;
  text-align: center;
  line-height: 70px;
}

.search-results-number {
  font-family: $font-main;
  color: $font-color-light;
  font-size: 30px;
  font-weight: 700px;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 10px;
  text-align: center;
}
